.dashboard-toolbar {
    -fx-background-color: #D4D4D4, white;
    -fx-spacing: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 8.0, 0.0, 0.0, 3.0);
}

.dashboard-toolbar-button {
    -fx-background-color: white;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.dashboard-toolbar-button:hover {
    -fx-effect: dropshadow(three-pass-box, -fx-focus-color, 8.0, 0.0, 0.0, 0.0);
    -fx-background-insets: 0.0;
    -fx-background-radius: 10.0;

}

.dashboard-toolbar-button:armed {
    -fx-effect: innershadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0.0, 1.0, 1.0);
}