#shop-pane {
    -fx-background-color: black;
}

.tooltip {
    -fx-background-radius: 20px 20px 20px 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bolder;
    -fx-border-radius: 22;
    -fx-font-size: 11;
    -fx-pref-height: 30;
}

/* Shop scroll pane */
.shop-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.shop-scroll-pane {
    -fx-background-color: transparent;
}

.shop-scroll-pane .scroll-bar:horizontal .thumb,
.shop-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 2em;
}

.shop-scroll-pane .scroll-bar:vertical .increment-button,
.shop-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 2px;

}

.shop-scroll-pane .scroll-bar:horizontal .thumb,
.shop-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #f7c63e;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.shop-scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

/* Shop textfield designs */
#amt-textfield, #name-textfield {
    -fx-background-color: #ff991f, #2f2d2f;
    -fx-font-weight: bold;
    -fx-text-fill: #ff991f;
    -fx-alignment: center;
    -fx-padding: 1;
    -fx-accent: #da6b0f;
}

.shop-item-selected {
    -fx-border-color: #ffd200; /*ff9900*/
    -fx-border-insets: -1.5, -1.5, -1.5, -1.5;
    -fx-border-width: 1.5;
    -fx-border-style: solid;
}

.shop-item-deselected {
    -fx-border-color: transparent;
    -fx-border-insets: -1.5, -1.5, -1.5, -1.5;
    -fx-border-width: 1.5;
    -fx-border-style: solid;
}

.poop {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-font-size: 16;
}
