.shop-root {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 40.0, 0.0, 0.0, 0.0);
}

/**
* Item Count Fraction
*/
.shop-item-count-denominator,
.shop-item-count-numerator {
    -fx-fill: #f7edb7;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Medium";
}

/**
 * Scroll Pane
 */
.shop-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.shop-scroll-pane {
    -fx-background-color: transparent;
}

/**
 * Scroll bar
 */
.shop-scroll-pane .scroll-bar:horizontal .thumb,
.shop-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 2em;
}

.shop-scroll-pane .scroll-bar:vertical .increment-button,
.shop-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 2px;

}

.shop-scroll-pane .scroll-bar:horizontal .thumb,
.shop-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #f7c63e;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.shop-scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

/*
* Text Fields
*/
.name-text-field {
    -fx-background-color: #ff991f, #2f2d2f;
    -fx-font-weight: bold;
    -fx-text-fill: #ff991f;
    -fx-alignment: center;
    -fx-padding: 1;
    -fx-accent: #da6b0f;
}

.shop-item-display-mode-label {
    -fx-font-family: "Roboto";
}